/*====R&D====*/

.swiper-wrapper {}
     .swiper {
      width: 90%;
      max-width: 1400px;
      height: 500px; 
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      /* background: #ddd; */
      transition: all .3s;
    }

     .swiper-slide img { width:100%; transition:all .3s; filter:grayscale(1);  }
    .swiper-slide-active {
      transform: scale(1.05);
      /* background: #ffa; */
      /* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
    }

        .swiper-slide-active  img { transform:scale(1.1); 
      filter:grayscale(0); }

      .description { 
        text-align:center; 
              opacity: 0;
      transition: opacity 0.3s ease;
      word-break: keep-all;
      font-size:17px; 
      }

      .description b { font-weight:800; font-size:25px; }
      .description em { font-size:15px; display:block; margin:10px 20px; font-weight:300; opacity:0.5; }
    
      .swiper-slide-active:hover .description {
      opacity: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display:none!important; 
      color: #000;
    }

    .swiper-pagination-bullet {
      display:none!important;  
      background: #333;
    }

    .swiper-pagination-bullet-active {
      background: #f90;
    }