* { box-sizing: border-box; margin: 0; padding: 0; }
li { list-style:none; }
address,em,i { font-style:normal; }
a { text-decoration: none; color:#333; }
html { overflow-x: hidden; font-size:10px; }
body { position:relative; width:100%; font-family: 'Pretendard', 'GmarketSans', 'Arial', sans-serif; }


/*기존 fullpage.js 변경*/
.fp-watermark { display:none; }
.fp-is-overflow .fp-overflow.fp-auto-height, .fp-is-overflow .fp-overflow.fp-auto-height-responsive, .fp-is-overflow>.fp-overflow { overflow-y: unset!important;}
/* .fp-table { display: block!important; } */

section { position:relative; color:#fff; padding:100px; width:100%; height:100vh!important; }
/*배경화면*/
.INTRO { background:#000;  }
.ABOUT { background:#000; }
.MD { background:url(../../img/bg_md.png); background-size:cover;}
.PROMOTION { background:url(../../img/bg_pro.png); background-size:cover;}
.CAMPAIGN { background:#000; }
.MARKETING { background:url(../../img/bg_m.png); background-size:cover; }
.RND { background:#000; }
.OUTRO { background: linear-gradient(180deg, #00E0B3 0%, #00C9DF 100%); }

/*공통*/
.inner { width:100%; max-width:1500px; margin:2% auto; /*max-width:fit-content; outline:1px solid red;*/ }
.flex { display:flex; }
.gra { /*그라데이션*/
  font-weight: bold;
  background:linear-gradient(90deg, #00E0B3 0%, #00C9DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*인트로&아웃트로*/
section h1 { font-size:80px; text-align:center; font-family: 'SBAggroB', 'Paperlogy-8ExtraBold', 'Pretendard', 'GmarketSans', 'Arial', sans-serif; }

/*인트로*/
.text-wrap { text-align:center;  font-size:5rem; white-space: nowrap;  font-family: 'Paperlogy-8ExtraBold', 'Pretendard', 'GmarketSans', 'Arial', sans-serif;}


.fixed-box {  display: inline-block;  width: 9ch;  height: 9rem;  overflow: hidden;  position: relative;  vertical-align: middle;}
.slide-texts {  position: absolute;  top: 0;  left: 0;  width: 100%;  transition: transform 0.6s ease-in-out;}
.slide-texts span {  display: block;  height: 9rem;  line-height: 9rem;  text-align: center; font-family:'Cafe24Shiningstar', 'Pretendard', 'GmarketSans', 'Arial', sans-serif; font-size:9rem; }

/*아웃트로*/
.OUTRO { position:relative; }
.OUTRO ul { position:absolute; width:100%; bottom:10%; left:50%; transform:translate(-50%,-50%); text-align:center; width: 100%; margin:0 auto; justify-content:center;  }
.OUTRO ul li { font-size:1.5rem; padding:0 20px; border-left:1px solid #fff; }
.OUTRO ul li:nth-of-type(4) { border-right:1px solid #fff; }

/*메인타이틀*/
.mainTitle { margin-bottom:50px; }
.mainTitle h2 { font-size:8rem; letter-spacing: -1px; margin-bottom:10px; }
.mainTitle p { font-size:2.5rem;  letter-spacing:-1px; font-weight:100; }
/*Main Title 스크롤 효과*/
.mainTitle h2, .mainTitle p {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease;
}
.mainTitle.show h2 {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0s;
}
 .mainTitle.show p {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s; /* h2 다음에 */
}

.pro_graph2 {
        opacity: 0;
        transition: all 1s ease;
}
.pro_graph2.show {
        opacity: 1;
        transition-delay: 0.5s;
}

.mobile-page { position:relative; display:none; width:100%; height:100%; background:#000; text-align:center;  }
.mobile-page img { display:block; width:100%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }
.mobile-page address { bottom:100px; color:#fff; font-size:1.6rem; position:absolute; bottom:10%; left:50%; transform:translate(-50%,-50%); }
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 3s infinite;
}

/* 모바일: 가로폭 996px 이하에서 PC 컨텐츠 숨기고 안내만 보이기 */
@media screen and (max-width: 1024px) {
        .pc-page {
                display: none;
        }
      .mobile-page {
                display: block;
      }
      #fp-nav.fp-right { display:none!important; }
}


/* 데스크탑 스타일 (13인치 포함) */
/*min-width → 이상까지 / max-width → 이하까지*/
@media (min-width: 1024px) {
  /* 데스크탑 전용 레이아웃 */
  .inner { width:1200px; }
  .mainTitle h2 { font-size:60px;  }
  .mainTitle p { font-size:23px; }
}

/* 대형 데스크탑 (고해상도 모니터용) */
@media (min-width: 1440px) {
  /* 더 넓은 레이아웃이나 추가 스타일 */
  .inner { width:1500px; }
}