
/* @font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
} */


/*어그로체*/
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*다이아고딕체*/
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*충주김생체*/
@font-face {
    font-family: 'ChungjuKimSaengTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/ChungjuKimSaengTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*잉크립퀴드체*/
@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*카페24 빛나는별*/
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*프리텐다드*/
/* Pretendard Thin (100) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* Pretendard ExtraLight (200) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

/* Pretendard Light (300) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Pretendard Regular (400) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Pretendard Medium (500) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Pretendard SemiBold (600) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Pretendard Bold (700) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Pretendard ExtraBold (800) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

/* Pretendard Black (900) */
@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

/*페이퍼로지*/
/* Paperlogy Thin (100) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Paperlogy ExtraLight (200) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Paperlogy Light (300) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Paperlogy Regular (400) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Paperlogy Medium (500) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Paperlogy SemiBold (600) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Paperlogy Bold (700) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Paperlogy ExtraBold (800) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Paperlogy Black (900) */
@font-face {
  font-family: 'Paperlogy';
  src: url('../font/Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

