/*====PROMOTION====*/
.PROMOTION {}
.PROMOTION .content { width:100%; }
.PROMOTION .content>div>div { width:50%; }
.PROMOTION .promotion-box1 { align-items:flex-end; }
.PROMOTION .promotion-box2>div { justify-content:center; }


.PROMOTION .pro_graph {  }
.PROMOTION .pro_graph img { width:100%; }
.PROMOTION .pro_graph i { display:block; text-align:center; font-size:20px; padding:10px 0 20px 0;  }

.PROMOTION .pro_text { flex-wrap:wrap; width:100%; margin:0 auto;  }
.PROMOTION .pro_text p { font-size:45px; font-weight:900; color:#00E0B3; }
.PROMOTION .pro_text ul { padding:5px 30px; }
.PROMOTION .pro_text ul li { }
.PROMOTION .pro_text ul li:nth-child(1) { font-size:33px; }
.PROMOTION .pro_text ul li:nth-child(2) {  font-size:25px; color:#888; padding:20px 0 5px 0; }
.PROMOTION .pro_text ul li:nth-child(3) { font-size:30px; font-weight:bold; }
.PROMOTION .pro_text ul li b {}
.PROMOTION .pro_text ul li strong { font-size:30px; color:#00E0B3;  }

@media (min-width: 1024px) {
    .PROMOTION .pro_graph i { font-size:17px; }

    .PROMOTION .pro_text p { font-size:30px; }
    .PROMOTION .pro_text ul li:nth-child(1) { font-size:23px; }
    .PROMOTION .pro_text ul li:nth-child(2) {  font-size:17px; }
    .PROMOTION .pro_text ul li:nth-child(3) { font-size:20px; font-weight:bold; }
    .PROMOTION .pro_text ul li strong { font-size:20px; }
}